/*our website colores
    #563d7c
    #cbbde2
        color: mediumpurple;
our website colores*/
body 
{
    height: 4000px;
}

/*nav section*/
.navbar
{
    background-color: #ffffff;
    padding: 35px;
}
.navbar-light .navbar-brand
{
    text-align: center;
    margin-right: 10px;
    flex-grow: 30;
}

.navbar-light .navbar-brand span:first-child
{
    color: #ffffff;
    font-size: 50px;
    background-color: #563d7c;
    border-radius: 45px;
    padding: 10px 10px 10px 10px;
}
.navbar-light .navbar-brand span:last-child
{
    color: #563d7c;
    font-size: 50px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover 
{
border-left: 4px solid #e8e5ee;
border-right: 4px solid #e8e5ee;
border-top: 3px solid #e8e5ee;
border-radius: 20px;

}
.navbar-light .navbar-nav .nav-link 
{
    color: #8d77ad;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .active>.nav-link
{
    color: #563d7c;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover 
{
    color: #563d7c;
    border-bottom: 2px solid #563d7c;
    font-weight: bold;

}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover 
{
    color: #563d7c;
    border-bottom: 2px solid #563d7c;
    font-weight: bold;

}

/*nav section*/

/*carousel section*/
.slider
{
    height: 100vh;
background-color: grey;
}
.slider .carousel-inner .carousel-item img
{
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-indicators .active {
  background-color: #3d039a;
}



.slider .carousel-caption {
    right: 0%;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
    display: flex;
    align-items: center;

    }
.carousel-caption p 
{
    font-size: 40px;
    letter-spacing: 4px;
    border-left: 2px solid #ffffff;
    padding-left: 10px;

}
/*query*/
@media (max-width: 700px)
{
    .carousel-caption {
display: none!important;      
    }
}

/*query*/


/*cards section*/
.mycards
{
        margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #563d7c;
}
.mycards h2
{
    color: #563d7c;
}
@media(max-width: 545px)
{
  .mycards h2 {
    font-size: 20px;
  }
  .mycards .crds div h3
  {
    font-size: 18px;
  }
  .mycards .crds p 
  {
    font-size: 14px;
  }
}

.mycards .crds div
{
border: 2px solid #563d7c;
margin: 10px;
padding-top: 15px;
}
.mycards .crds div i
{
    color: #563d7c;
    font-size: 40px;
    padding: 10px;
}
.mycards .crds div h3
{
color: #8d77ad;
}


/*cards section*/

/*contactus section*/
.contactus
{
       padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #563d7c;
}
.contactus h2
{
    color: #563d7c;
    padding-bottom: 20px; 
    margin-bottom: 40px;
}
@media(max-width: 545px)
{
  .contactus h2 {
    font-size: 20px;
  }

}
.contactus .info div .card {
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.849);
  background-color: #563d7c;
  padding-top: 15px; 
}

.contactus .info div i
{
    color: #563d7c;
    font-size: 40px;
    background-color: #ffffff;
    padding: 10px;
   border-radius: 30px;
   margin-bottom: 10px;
}

.contactus .cntbt .btn
{
    background: #563d7c;
    color: #fff;
    border-color: #563d7c;
    margin-bottom: 15px;
  margin-top: 15px;
} 
.contactus .forum .btn
{
    background: #fff;
    color: #563d7c;
    border-color: #563d7c;
  position: relative;
  


} 
.contactus .forum {
  background-color: #563d7c;
  padding-bottom: 15px;
}
.contactus .forum h4
{
    color: rgba(255, 255, 255, 0.849);
    padding-bottom: 20px;
}
@media(min-width: 765px) and (max-width: 835px)
{
    .contactus .cntbt .btn
    {
        font-size: 14px;
    }
}
/*contactus section*/
/*cards*/
.cards 
{
      padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #563d7c;
    color: rgba(255, 255, 255, 0.849);
}
.cards .card
{
    background-color: #563d7c;
    border: none;
margin-bottom: 15px;
}
.cards .card .card-img-top
{
    margin-bottom: 30px;
    width: 100%;
    height: 170px;
}

@media(max-width: 992px){
  .cards .card .card-img-top
{
   
    width: 80%;
    height: 140px;
}
}
.cards .card .btn
{
    background: #fff;
    color: #563d7c;
    border-color: #563d7c;
} 
@media (min-width: 768px) and (max-width: 992px)
{
    .cards .card .card-body h5 
    {
        font-size: 16px;
    }
}
/*cards*/


/*testimonials*/

.testimonials h2
{
    color: #563d7c;
    margin-bottom: 40px;
    margin-top: 40px;
}
.testimonials .testimonials-heading p
{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 40px;
    color: #42025d8a;
}
.testimonials .card
{
    border: none;
    margin-bottom: 30px;
  border: 2px solid #563d7c;

}
.testimonials .card .card-body .card-title
{
  color: #563d7c;
}
.testimonials .card .card-body a
{
  color: #000;
}
.testimonials .card .card-body span
{
    color: #563d7c;
}

/*testimonials*/
/*noticias*/

.noticias h2
{
    color: #563d7c;
    margin-top: 20px;
    margin-bottom: 20px;
}
.noticias .card
{
    margin-bottom: 15px;
    border: 2px solid #563d7c;

}
.noticias .card .card-body .card-text a
{
    color: #563d7c;

}
.noticias .card .card-img
{
    margin-bottom: 30px;
    width: 100%;
    height: 170px;
}

@media(max-width: 992px){
  .noticias .card .card-img
{
   
    width: 80%;
    height: 140px;
}
}

/*noticias*/
/*credits*/

.credits 
{
    margin-top: 20px;
    margin-bottom: 25px;
    background-color: #563d7c;
    padding: 20px 0 30px 0;
}
.credits h4 
{
    color: rgba(255, 255, 255, 0.849);
    margin-bottom: 20px;
}
.credits img 
{
  margin-bottom: 15px;
}

/*credits*/
/*footer*/
.footer
{
    padding-top: 20px;
padding-bottom: 20px;
background-color: rgba(255, 255, 255, 0.849);
}
.footer h5
{
    letter-spacing: 1px;
    color: #787279;
}
.footer ul li 
{
    margin-bottom: 5px;
    border-bottom: 1px solid #787279;
    padding-bottom: 2px;

}
.footer ul li a 
{
    color: #787279;
}
.footer ul li a i
{
    font-size: small;
    position: relative;
    top: 1px;
}

/*footer*/
/*license*/
.license 
{
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #303030;
}
.license a span:first-child
{
    color: #ffffff;
    font-size: 20px;
    background-color: #563d7c;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
}
.license a span:last-child
{
    color: #563d7c;
    font-size: 20px;
}
.license p
{
    color: rgba(255, 255, 255, 0.849);
}
